<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href="bootstrap/bootstrap.css" rel="stylesheet">

    <style type="text/css">
    body {
      background: #fff;
      margin: 0;
      color: #000;
      font-family: 'Open Sans', sans-serif;
    }
    .row, .jorb {
      margin: 0 auto;
      padding: 0 15px;
      text-align: center;
    }
    .jorb {
      max-width: 500px;
    }
    .first {
      background: #2E6B9B;
      color: #fff;
      padding-bottom: 20px;
    }
    .second {
      background: #fff;
      color: #000;
      padding: 60px 0;
    }
    .second > div > p {
      margin-bottom: 12px;
      max-width: 500px;
    }
    .second > div > h3 {
      max-width: 500px;
      margin: 0 auto;
    }
    .first a {
      color: #FDD43C;
    }
    .third {
      background: #FDD43C;
      color: #000;
      padding: 60px 0;
    }
    .container {
      margin: 0;
      width: 100%;
      padding: 0;
    }
    h3 {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      font-size: 3em;
      text-align: left;
    }
    h4 {
      font-family: 'Ubuntu', sans-serif;
    }
    p {
      margin: 0 auto;
      width: auto;
      text-align: left;
    }
    .linky {
      text-align: center;
    }

    .meee{
      background: #2E6B9B;
      color: #fff;
      padding: 30px 0;
    }
    .meee a {
      color: #9604f2;
    }
    .centerer {
      text-align: center;
    }
    /* .col-sm-6 {
      max-width: 500px;
    } */

    @media only screen and (max-width: 917px) {
      .face {
        width: 100%;
      }
    }
    @media only screen and (max-width: 768px) {
      .face {
        width: initial;
      }
    }
    @media only screen and (max-width: 500px) {
      .face {
        width: 100%;
      }
    }
    </style>
    <title>PyRVA — A Python Usergroup for Richmond, Virginia</title>
    <meta property="og:title" content="PyRVA User Group" />
    <meta property="og:url" content="http://pyrva.github.io/" />
    <meta property="og:description" content='Python User Group for Richmond, Virginia' />
    <link rel="#" rel="image_src" title="PyRVA" id="PyRVA" />
    <meta property="og:site_name" content="PyRVA" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
  <div class="first row">
    <div class="col-sm-6">
        <img class="face" src="PyRVA-L-white.png">
    </div>
    <div class="col-sm-6">
      <h3>PyRVA: a Python job board</h3>
      <p>lorm ipsum dolor sedet<br />
      <b>User navigation needs to go here somewhere?</b></p><br />

      <p>Follow us on <a href="https://twitter.com/pyrva">Twitter</a>, <a href="https://github.com/PyRVA">GitHub</a>, and <a href="http://www.meetup.com/PyRVAUserGroup/">Meetup</a>.</p>
    </div>
    </div>
    <div class="second row">
      <div class="col-sm-12">
        <h3>Jobs</h3><br />
        <div class="jorb">
          <h4><b>Job title</b> at Company</h4>
          <p><small>Posted on April 13th, 2016 at 8:15 P.M. GMT.</small></p><br />
          <p>This is a really short description.</p>
          <p>Posted by <a href="#">User</a>.</p>
          <hr />
        </div>
        <div class="jorb">
          <h4><b>{{ title }}</b> at {{ company }}</h4>
          <p><small>Posted on {{ post_date }}.</small></p><br />
          <p>{{ description }}</p>
          <p>Posted by <a href="#">{{ user }}</a>.</p>
          <hr />
        </div>
      </div>
    </div>
  <div class="row meee">
      <div class="col-md-12"><p class="centerer">Powered by Bootstrap.<br />
        This work is licensed under a Creative Commons Attribution 4.0 International License.</p></div>
    </div>
  </div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
    if ($(window).width() > 750) {
      $(".face").css("padding-top", $(".first").height()/4);
    }
      $( window ).resize(function() {
        if ($(window).width() > 750) {
          $(".face").css("padding-top", $(".first").height()/4);
        }
      })
    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/bootstrap.js"></script>
  </body>
</html>
